<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/formation</property>
        <property name="connection.username">formation</property>
        <property name="connection.password">password</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <property name="hibernate.hbm2ddl.auto">create</property>
        <property name="hibernate.show_sql">true</property>
        <mapping class="colloque.metier.Participant"/>
        <mapping class="colloque.metier.Evenement"/>
        <mapping class="colloque.metier.Intervenant"/>
    </session-factory>
</hibernate-configuration>