<!DOCTYPE HTML>
<html xmlns=http://www.w3.org/1999/xhtml
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;
charset=UTF-8" />
    <link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css} " rel="stylesheet">
</head>
<body>
    <div th:if="${errorMessage!=null}"
         style="color:red;font-style:italic" th:utext="${errorMessage}">..</div>
    <table>
        <thead>
        <tr>
            <th>Titre</th>
            <th>Theme</th>
            <th>Date de début</th>
            <th>Durée</th>
            <th>Nombre de participants max</th>
            <th>Description</th>
            <th>Organisateur</th>
            <th>Type</th>
            <th>Supprimer</th>
            <th>Modifier</th>
            <th>Ajouter participant</th>
            <th>Voir participant</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="event : ${events}">
            <td th:text="${event.getIntitule()}" />
            <td th:text="${event.getTheme()}" />
            <td th:text="${event.getDate_debut()}" />
            <td th:text="${event.getDuree()}" />
            <td th:text="${event.getNb_part_max()}" />
            <td th:text="${event.getDescription()}" />
            <td th:text="${event.getOrganisateur()}" />
            <td th:text="${event.getType_even()}" />
            <td>
                <form action="#" th:action="@{'/delete/Event/{id}' (id=${event.getNum_event()})}" method="POST">
                    <button> Supprimer </button>
                </form>
            </td>
            <td>
                <form action="#" th:action="@{'/modify/Event/{id}' (id=${event.getNum_event()})}" method="GET">
                    <button> Modifier </button>
                </form>
            </td>
            <td>
                <form action="#" th:action="@{'/create/Participant/{id}' (id=${event.getNum_event()})}" method="GET">
                    <button> Ajouter  </button>
                </form>
            </td>
            <td>
                <form action="#" th:action="@{'/voir/Participant/{id}' (id=${event.getNum_event()})}" method="GET">
                    <button> Voir  </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <form th:action="@{/}" method="GET">
        <button> Retour </button>
    </form>
</body>
</html>
