<!DOCTYPE html>
<html xmlns=http://www.w3.org/1999/xhtml
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;
charset=UTF-8" />
    <title>Modify Event</title>
</head>
<body>
<div th:if="${errorMessage!=null}"
     style="color:red;font-style:italic" th:utext="${errorMessage}">..</div>
<form action="#" th:action="@{/modify/Event}" th:object="${modifyEventForm}" method="POST">
    <input required type="text" th:field="*{num_event}" th:value="${modifyEventForm.getNum_event()}" hidden/>
    <input required type="text" th:field="*{intitule}" th:value="${modifyEventForm.getIntitule()}">Intitulé</input>
    <input required type="text" th:field="*{theme}" th:value="${modifyEventForm.getTheme()}">Thème</input>
    <input required type="date" th:field="*{date_debut}" th:value="${modifyEventForm.getDate_debut()}">Date de début</input>
    <input required type="number" th:field="*{duree}" th:value="${modifyEventForm.getDuree()}">Durée</input>
    <input required type="number" th:field="*{nb_part_max}" th:value="${modifyEventForm.getNb_part_max()}">Nombre de participants max</input>
    <input required type="text" th:field="*{description}" th:value="${modifyEventForm.getDescription()}">Description</input>
    <input required type="text" th:field="*{organisateur}" th:value="${modifyEventForm.getOrganisateur()}">Organisateur</input>
    <input required type="text" th:field="*{type_even}" th:value="${modifyEventForm.getType_even()}">Type d'évènement</input>
    <input type="submit" value="Valider">
</form>
</body>
</html>