<!DOCTYPE html>
<html xmlns=http://www.w3.org/1999/xhtml
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;
charset=UTF-8" />
    <title>Ajout Participant</title>
    <link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css} " rel="stylesheet">
</head>
<body>
<div th:if="${errorMessage!=null}"
     style="color:red;font-style:italic" th:utext="${errorMessage}">..</div>
<form action="#" th:action="@{'/add/Participant/{id}' (id=${id})}" th:object="${newParticipantForm}" method="POST">
    <input required type="text" th:field="*{num_pers}" hidden/>
    <div class="form-group row"><label>Nom</label><input required type="text" th:field="*{nom}"/></div>
    <div class="form-group row"><label>Prénom</label><input required type="text" th:field="*{prenom}"/></div>
    <div class="form-group row"><label>email</label><input required type="text" th:field="*{email}"/></div>
    <div class="form-group row"> <label>Date de naissance</label><input required type="date" th:field="*{date_naiss}"/></div>
    <div class="form-group row"> <label>Organisation</label><input required type="text" th:field="*{organisation}"/></div>
    <div class="form-group row"> <label>Observation</label><input required type="text" th:field="*{observation}"/></div>
    <input type="submit" value="Valider">
</form>
</body>
</html>